.dashboard {
    &-weather-condition {
        // border:1px solid red;
        width: 100%;
        height: 120px;
        // border:1px solid red;   
    }

    &-weather-info {
        background-color: white;
        margin-top: 40px;
        height: 250px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
    }

    &-weather-iqa {
        margin-top: 20px;

        &-icon {
            width: 100px;
           
            img {
                padding: 20px;
                background-color: rgba(255,255,255,0.5);
                border-radius: 20px;
            }
            
        }

        &-description {
            width: calc(100% - 100px);


            &-value {
                width: 90px;
                font-size: 28px;
                background-color: rgb(103,50,105);
                border-radius: 20px;
                
            }

            .status {
                background-color: rgba(255,255,255,0.8);
                color : rgb(103,50,105);
                padding : 0 20px;
                border-radius: 20px;
                font-weight: 600;
                font-size: 20px;
            }

            .location{
                position: relative;
                width: calc(100% - 240px);
                border : 3px solid rgba(255,255,255,0.2);
                border-radius: 20px;

                .icon {
                    position: absolute;
                    font-size: 18px;
                    right: 20px;
                    top : -10px;
                    width: 20px;
                    height: 20px;
                    background-color: rgb(33, 73, 170);
                }

                p {
                    font-size: 20px;
                }
            }
        }
    }

    .github-link {
        margin-top: 20px;
        height: 100%;
        height: 50px;
        font-size: 24px;
    
    }
    
}